<html>
  <head>
  	<link href ="/stylesheets/application.css" rel="stylesheet" type"text/css">
    <title>My kitten page</title>
  </head>
  <body>
    <div class="kitten">
      <%=yield %>  
    </div> 
  </body> 
</html>

